<div class="logo">
	<h1>BookWorms</h1>
</div>
<ul class="custom_nav nav nav-tabs">
	<li class="<%=active(root_path)%>">					
		<%= link_to "Home", root_path %>
	</li>
	<li class="<%=active(genres_path)%>">
		<%= link_to "Genres", genres_path %>					
	</li>
	<li class="<%=active(search_path)%>">
		<%= link_to "Search", search_path %>
	</li>
	<li class="dropdown pull-right">
		 <a href="#" data-toggle="dropdown" class="dropdown-toggle">Actions<strong class="caret"></strong></a>
		<ul class="dropdown-menu">
			<% unless current_user.blank? %>
				<li>							
						<%= link_to "Profile", user_path(id: current_user.id) %>			
				</li>
				<li>
					<% if user_is_admin? %>
						<%= link_to "Add Genres", new_genre_path %>
					<% end %>
				</li>	
				<li>								
						<%= link_to "Sign Out", destroy_user_session_path, method: :delete  %>								
				</li>
			<% else %>	
				<li>							
						<%= link_to "Sign In", new_user_session_path  %>			
				</li>
				<li>							
						<%= link_to "Sign Up", new_user_registration_path  %>			
				</li>
			<% end %>											
		</ul>
	</li>
</ul>