<div class="form-group col-xs-4">
<%= form_for [@genre, @book] do |f| %> 
	<%= f.label :title %>
	<%= f.text_field :title, class: "form-control" %>
	<br />
	<%= f.label :author_name %>
    <%= f.text_area :author_name, class: "form-control" %>
  	<br />
  <%= f.submit 'Save', class: "btn btn-success" %>

<% end %>
</div>