<% present @book do |book_presenter| %>
	<h3><%= book_presenter.title %> </h3>

	<hr />
	<p>Averate rating</p>
	<div id="star"></div>

	<p>Your rating</p>
	<div id="user_star"></div>

	<br />
	
	<%= link_to "Add Review", new_genre_book_review_path(@book.genre.id, @book.id), 
							class: "label label-success" %>	
	<br /><br />

	<%= book_presenter.reviews %>

	<script type="text/javascript">
		$('#star').raty({
			readOnly: true,
			score: <%= book_presenter.average_rating %>,
			path: '/assets'
		});

		$('#user_star').raty({
			score: <%= @rating.score %>,
			path: '/assets',
			click: function(score, evt) {
				$.ajax({
					url: '/ratings/' + <%= @rating.id %>,
					type: 'PATCH',
					data: { score: score }
				});
			}
		});
	</script>
<% end %>